#!/usr/bin/python
PACKAGE='demonstration_layer'
import roslib
from dynamic_reconfigure.parameter_generator_catkin import *

roslib.load_manifest(PACKAGE)

gen = ParameterGenerator()

#Name, Type, Reconfiguration level, Description, Default, Min, Max
gen.add("enabled", bool_t, 0, "enabled", True)
gen.add("no_demo_cost", int_t, 0, "the uninflated cost of all cells not part of any demonstrated paths", 10, 0, 255)
gen.add("demo_cost", int_t, 0, "the uninflated cost of all free cells that have been part of any demonstrated paths", 0, 0, 255)

exit(gen.generate(PACKAGE, "demonstration_layer", "DemonstrationLayer"))

